<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>print_users</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <th>id</th>
        <th>password</th>
        <th>balance</th>
        <th>rating</th>
      </thead>

      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user[0] }}</td>
          <td>{{ user[1] }}</td>
          <td>{{ user[2] }}</td>
          <td>{{ user[3] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="/return_to_register" method="post">
      <input type="submit" name="send" value="return" />
    </form>
  </body>
</html>
